<% if @comment.errors.present? %>
    $('.comment-errors').html('<div class="alert alert-danger" role="alert"></div>');
  <% @comment.errors.full_messages.each do |message| %>
    $('.alert-danger').append('<%= j message %></br>');
  <% end %>
<% else %>
  <% publish_to "/posts/#{@post.id}/comments" do %>
      $('.comments').html('<%= j render 'posts/comments' %>');
  <% end %>
  $('#comment_message').val('');
  $('.comment-errors').html('');
<%end%>
