<h2>Статья <%= @post.title %></h2>

<h3>Сообщение:</h3>
<p><%= @post.body %></p>

<%= link_to "Edit", edit_post_path(@post) %> | <%= link_to "Delete",  post_path(@post), method: :delete, data: { confirm: "Вы действительно хотите удалить эту статью ?"} %>
